In [1]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
        {'a': 100, 'b': 200, 'c': 300, 'd': 400},
        {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000},
        {'a': 10000, 'b': 20000, 'c': 30000, 'd': 40000}
]

In [7]:
import pandas as pd
df = pd.DataFrame(mydict)

type(df.iloc[0])

pandas.core.series.Series

In [5]:
df

       a      b      c      d
0      1      2      3      4
1    100    200    300    400
2   1000   2000   3000   4000
3  10000  20000  30000  40000

Indexing the Rows

In [18]:
df.iloc[1] #row form
df.iloc[[1]] #column form
df.iloc[[0,1]] #column 0 and 1 indexes
df.iloc[3,3] #picks the number on row x  and column y

40000

In [20]:
#slicing the object
df.iloc[1:3] #row form -> all the three row values from x:y

      a     b     c     d
1   100   200   300   400
2  1000  2000  3000  4000